<footer class="footers">
    <div class="footers__contact">
        <div class="footers__contact__info">
            <h4>Información de contacto</h4>
            <p><strong>Correo Electrónico:</strong> moisescoreae@tenisia.com</p>
            <p><strong>Teléfono:</strong> (555) 123-4567</p>
            <p>
                <strong>Dirección:</strong> Col. Jardimnes del Valle, San Pedro
                Sula Cortés
            </p>
        </div>
    </div>
    <nav class="footers__nav">
        <a href="/" class="footers__nav__logo">
            <img src="./assets/images/logoFoot.svg" width="130" height="65" />
        </a>
        <ul class="footers__nav__link">
            <li class="footers__nav__link-item">
                <a href="./members.html">Miembros</a>
            </li>
            <li class="footers__nav__link-item">
                <a href="./aboutus.html">Acerca de nosotros</a>
            </li>
            <li class="footers__nav__link-item">
                <a href="./contact.html">Contacto</a>
            </li>
        </ul>
        <ul class="footers__nav__social">
            <li class="footers__nav__social-item">
                <a href="https://www.facebook.com/"
                    ><i class="fa-brands fa-facebook"></i
                ></a>
            </li>
            <li class="footers__nav__social-item">
                <a href="https://www.instagram.com/"
                    ><i class="fa-brands fa-instagram"></i
                ></a>
            </li>
            <li class="footers__nav__social-item">
                <a href="https://www.tiktok.com/es/"
                    ><i class="fa-brands fa-tiktok"></i
                ></a>
            </li>
            <li class="footers__nav__social-item">
                <a href="https://www.youtube.com/"
                    ><i class="fa-brands fa-youtube"></i
                ></a>
            </li>
        </ul>
    </nav>
</footer>
